* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* NavBar CSS */
.navBar {
  color: black;
  border-bottom: 1px solid #1d1b31;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #6E6896;
}
.navBar a img {
  display: inline;
  float: left;
  margin-left:20px;
}
.navBar h1{
  margin-left: 10px;
}
.navBar h2{
  margin-left: 610;
}

/* HomePage CSS */
.homepage {
  background-color: lightblue;
  height: 73vh;
  position: relative;
  display: flex;
}
/* Socials CSS */
.socials{
  background-color: #0f37eb;
  text-align: center;
  height: 47;
  font-size: medium;
  word-spacing: 0.5in;
}
.socials a{
  color: rgb(230, 255, 5);}
.socials a:hover{
  color: rgba(250, 235, 215, 0.644);
}
/* Footer CSS */
.footer{
  background-color: #181258;
  text-align: center;
  height: 136px;
  border-top: 2px solid #1d1b31;
  align-items: center;
}
.footer a{
  color: rgb(230, 255, 5);
}
.footer a:hover{
  color: rgba(250, 235, 215, 0.644);
}
/* Rules CSS */


/* https://www.w3schools.com/html/html_links_colors.asp */
