* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NavBar CSS */
.navBar {
  color: black;
  border-bottom: 1px solid #1d1b31;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #6E6896;
}

.navBar a img {
  display: inline;
  float: left;
  margin-left: 20px;
}

.navBar h1 {
  margin-left: 10px;
}

/* HomePage CSS */
.homepage {
  background-color: rgb(99, 103, 109);
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.homepage p {
  margin-top: 25px;
  margin-left: 50px;
  color: fff;
}

/* Socials CSS */
.socials {
  background-color: rgb(68, 61, 116);
  text-align: center;
  font-size: medium;
  word-spacing: 0.5in;
  margin: auto;
  padding: 15px;
  border-top: 2px solid #1d1b31;
}

.socials a {
  color: rgb(230, 255, 5);
  text-decoration: none;
}

.socials a:hover {
  color: rgba(250, 235, 215, 0.644);
}

/* Footer CSS */
.footer {
  background-color: rgb(68, 61, 116);
  text-align: center;
  font-size: medium;
  align-items: center;
  overflow: hidden;
  padding-bottom: 6px;
  justify-content: space-between;
}

.footer a {
  color: rgb(230, 255, 5);
  text-decoration: none;
  margin-right: 50px;
}

.footer a:hover {
  color: rgba(250, 235, 215, 0.644);
}

/* Rules CSS */


/* https://www.w3schools.com/html/html_links_colors.asp */