/* https://coolors.co/palette/e6f2ff-ccdcff-b3beff-9a99f2-8b79d9-805ebf-6f46a6-60308c-511f73-431259 */
/* https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NavBar CSS */
.navBar {
  color: black;
  border-bottom: 1px solid #1d1b31;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #6E6896;
}

.navBar a img {
  display: inline;
  float: left;
  margin-left: 20px;
}

.navBar h1 {
  margin-left: 10px;
}

/* HomePage CSS */
.homepage {
  background-color: rgb(99, 103, 109);
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.homepage p {
  margin-top: 25px;
  margin-left: 50px;
  color: E6F2FF;
}

.homepage h3 {
  margin-top: 25px;
  margin-left: 50px;
  color: E6F2FF;
}

.homepage a {
  color: CCDCFF;
  text-decoration: none;
}

.homepage a:hover {
  color: B3BEFF;
}

/* Socials CSS */
.socials {
  background-color: rgb(68, 61, 116);
  text-align: center;
  font-size: medium;
  word-spacing: 0.5in;
  margin: auto;
  padding: 15px;
  border-top: 2px solid #1d1b31;
}

.socials a {
  color: CCDCFF;
  text-decoration: none;
}

.socials a:hover {
  color: B3BEFF;
}

/* Footer CSS */
.footer {
  background-color: rgb(68, 61, 116);
  text-align: center;
  font-size: medium;
  align-items: center;
  overflow: hidden;
  padding-bottom: 6px;
  justify-content: space-between;
}

.footer a {
  color: CCDCFF;
  text-decoration: none;
  margin-right: 50px;
}

.footer a:hover {
  color: B3BEFF;
}